:root {
  --non-active: #5a5959;
  --text-color: #fff;
  --but: #394014;
  --stars: #ae990b;
  --bg: #141a19;
  --input: #b9b9b9;

  --font-family: 'Jomolhari', serif;
  --second-family: 'Lato', sans-serif;
}

body {
  font-family: var(--second-family);
  font-size: 16px;

  line-height: 1.4;
  letter-spacing: 0.01em;
  color: var(--text-color);

  background-color: var(--bg);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
}
.section {
  padding: 40px 0;
}

.container {
  padding: 0 16px;
  margin: 0 auto;

  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  letter-spacing: 0.01em;
  color: inherit;
}

.button {
  width: 100%;
  padding: 16px 52px;
  margin-top: 32px;

  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.4;

  color: inherit;
  background-color: var(--but);
  border-style: none;
  border-radius: 4px;

  cursor: pointer;
}

.arrow-thumb {
  display: flex;
  justify-content: space-between;
}

.button-arrow {
  padding: 0;
  background-color: inherit;

  width: auto;
}

.arrow-thumb {
  display: flex;
}

.title {
  margin-bottom: 32px;

  font-family: var(--font-family);
  font-weight: inherit;
  font-size: 40px;
  letter-spacing: 0.01em;

  text-align: center;
}

.subtitle {
  margin-bottom: 16px;

  font-size: 24px;
  letter-spacing: 0.01em;

  text-align: start;
}

.sub-subtitle {
  margin-bottom: 16px;

  font-size: 18px;
  letter-spacing: 0.01em;

  text-align: start;
}

p + p {
  margin-top: 32px;
}

/* ========================= Haeder ========================= */
.main-header {
  position: absolute;

  width: 100%;
  padding: 16px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  font-weight: 700;
  font-size: 18px;
}

/* .burger-button {
  display: inline-block;
} */

/* ========================= Haeder ========================= */

/* ========================= Hero ========================= */

.hero {
  background-image: radial-gradient(
      54.53% 54.53% at 56.24% 51.15%,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(180deg, rgba(20, 26, 25, 0.8) 0%, rgba(0, 0, 0, 0) 25%),
    url(../images/bg_hero_mob.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

.hero-container {
  position: relative;
  min-height: 100svh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  margin-bottom: 64px;
}

.hero-title-main {
  display: block;
  font-size: 24px;
}

.hero-title-accent {
  display: block;

  font-size: 64px;
  letter-spacing: 0.01em;
}

.hero-botton {
  width: auto;
  padding: 12px 52px;
}

.hero-social-list {
  position: absolute;
  bottom: 32px;

  display: flex;
  gap: 15px;
}

/* ========================= Hero ========================= */

/* ========================= About Us ========================= */

.about-section {
  padding-top: 80px;
}

/* ========================= About Us ========================= */

/* ========================= Our tours ========================= */

.tour-foto-thumb {
  position: relative;

  width: 100%;
  height: 409px;
  margin-bottom: 16px;

  /* overflow: hidden; */
}

.tour-foto {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;

  transform: translateX(-50%);
}

.includes-thumb {
  margin-top: 16px;
}

.includes-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.includes-item {
  display: flex;
  gap: 16px;
}

/* ========================= Our tours ========================= */

/* ========================= Gallery ========================= */

.gallery-thumb {
  display: flex;
  overflow: auto;
}

/* ========================= Gallery ========================= */

/* ========================= Reviews ========================= */

.reviews {
  background-image: linear-gradient(to bottom, var(--bg) 0% 5%, rgba(0, 0, 0, 0) 90%),
    linear-gradient(to top, var(--bg) 0% 5%, rgba(0, 0, 0, 0) 90%),
    url(../images/reviews-bg-mobal.jpg);
  background-repeat: no-repeat;
  background-position: center center;

  /* background-size: 100%, 100%, cover; */
}

.reviews-thumb {
  display: flex;
  min-height: 343px;
  padding: 32px;

  border: 1px solid var(--text-color);
}

.reviewer {
  display: flex;
  column-gap: 24px;
  margin-bottom: 32px;

  align-items: center;
}

.reviewer-name {
  margin-bottom: 11px;
}

.review-rating {
  display: flex;
}

/* ========================= Reviews ========================= */

/* ========================= Trip application ========================= */

.trip-application {
  padding-top: 52px;
  padding-bottom: 52px;

  background-image: url(../images/trip-application-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center top;
}

.trip-application-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* ========================= Trip application ========================= */

.form-title {
  font-size: 32px;
  letter-spacing: 0.01em;
}

.footer {
  font-family: var(--font-family);
}

.address {
  font-style: normal;
}
