:root {
  --non-active: #5a5959;
  --text-color: #fff;
  --but: #394014;
  --stars: #ae990b;
  --bg: #141a19;
  --input: #b9b9b9;

  --font-family: 'Jomolhari', serif;
  --second-family: 'Lato', sans-serif;
}

body {
  /* padding: 16px; */

  font-family: var(--second-family);
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: var(--text-color);

  background-color: var(--bg);
}

img {
  display: block;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  letter-spacing: 0.01em;
  color: inherit;
}

.button {
  font-family: var(--font-family);
  font-size: 16px;
  color: inherit;
  background: var(--but);
}

.title {
  font-family: var(--font-family);
  font-weight: inherit;
  font-size: 40px;
  letter-spacing: 0.01em;
}

.subtitle {
  font-size: 24px;
  letter-spacing: 0.01em;
}

.sub-subtitle {
  font-size: 18px;
  letter-spacing: 0.01em;
}

/* ========================= Haeder ========================= */

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  font-weight: 700;
  font-size: 18px;
}

/* .burger-button {
  display: inline-block;
} */

/* ========================= Haeder ========================= */

/* ========================= Hero ========================= */

.hero {
  min-height: 100svh;
}

.hero-title {
  text-align: center;
  font-size: 24px;
}

.hero-title-accent {
  font-size: 64px;
  letter-spacing: 0.01em;
}

.form-title {
  font-size: 32px;
  letter-spacing: 0.01em;
}

.text {
  font-size: 16px;
  letter-spacing: 0.01em;
}

.footer {
  font-family: var(--font-family);
}

.address {
  font-style: normal;
}
