:root {
  --non-active: #5a5959;
  --text-color: #fff;
  --but: #394014;
  --stars: #ae990b;
  --bg: #141a19;
  --input: #b9b9b9;

  --font-family: 'Jomolhari', serif;
  --second-family: 'Lato', sans-serif;
}

body {
  /* padding: 16px; */

  font-family: var(--second-family);
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: var(--text-color);

  background-color: var(--bg);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  letter-spacing: 0.01em;
  color: inherit;
}

.button {
  padding: 12px 52px;

  font-family: var(--font-family);
  font-size: 16px;

  color: inherit;
  background: var(--but);
  border-radius: 4px;
}

.title {
  font-family: var(--font-family);
  font-weight: inherit;
  font-size: 40px;
  letter-spacing: 0.01em;

  text-align: center;
}

.subtitle {
  font-size: 24px;
  letter-spacing: 0.01em;
}

.sub-subtitle {
  font-size: 18px;
  letter-spacing: 0.01em;
}

.text {
  font-size: 16px;
  letter-spacing: 0.01em;
}

/* ========================= Haeder ========================= */
.main-header {
  position: absolute;

  width: 100%;
  padding: 16px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  font-weight: 700;
  font-size: 18px;
}

/* .burger-button {
  display: inline-block;
} */

/* ========================= Haeder ========================= */

/* ========================= Hero ========================= */

.hero {
  background-image: radial-gradient(
      54.53% 54.53% at 56.24% 51.15%,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(180deg, rgba(20, 26, 25, 0.8) 0%, rgba(0, 0, 0, 0) 25%),
    url(../images/bg_hero_mob.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

.hero-container {
  position: relative;
  min-height: 100svh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  margin-bottom: 64px;
}

.hero-title-main {
  display: block;
  font-size: 24px;
}

.hero-title-accent {
  display: block;

  font-size: 64px;
  letter-spacing: 0.01em;
}

.hero-social-list {
  position: absolute;
  bottom: 32px;

  display: flex;
  gap: 15px;
}

/* ========================= Hero ========================= */

/* ========================= ____ ========================= */

.form-title {
  font-size: 32px;
  letter-spacing: 0.01em;
}

.footer {
  font-family: var(--font-family);
}

.address {
  font-style: normal;
}
